*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
li{list-style: none;}
h2{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: palevioletred;
    font-size: 3.15em;
}
h2:hover{
    text-decoration: underline;
}
body{
    margin-top: 60px;
}
/* --------------------------------- HEADER --------------------------------- */
.header{
    margin-top: -60px;
    background-color: whitesmoke;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    height: 60px;
}
 /* ---------------------------------- HEADER-LOGO ---------------------------------- */
#logo{
    text-align: center;
}
#logo a img{
    height: 3.5em;
}
#logo a img:hover{
    filter: drop-shadow(2px 2px 4px palevioletred);
}

/* ------------------------------- HEADER-NAV ------------------------------- */
nav{
    padding: 10px 10px;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 0px 10px;
}
nav ul li a{
    font-family: 'Bebas Neue', cursive;
    white-space: nowrap;
    padding: 0px 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, palevioletred 50%, transparent 50%);
    background-position: 0 100%;
    background-size: 200% 2px;
    transition: background-position 0.5s;
}
nav ul li a:hover {
    background-position: -100% 100%;
    color: palevioletred;
    background-color: whitesmoke;
    animation: subrayar 0.5s forwards;
}

@keyframes subrayar {
    from {
    width: 0;
    }
    to {
    width: 100%;
    }
}
/* --------------------------------- banner --------------------------------- */
.banner{
    background-image: url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/316659475_652713422956652_2724468220481152210_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=9Vlykwz8_bQAX9ZMk6_&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfCrB6dijNOvhUhaE_Nw6y006PdxbSE5F_R9qIMvYaCb3A&oe=6449E5A9);
    background-position: 100%;
    height: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.title{
    margin: 230px auto;
    display: inline-block;
}
/* ----------------------------------  banner-text ---------------------------------- */
.mostacho{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 0px 0px 15px rgb(121, 29, 60);
    background-color: palevioletred;
    padding: 5px;
    border-radius: 13px;
    font-size: 4em;
}
/* -------------------------------- Maps -------------------------------- */
.content{
    padding: 50px 30px;
}
.testimonials{
    margin: 50px 0px;
    height: 470px;
}
.star{
    text-shadow: 1px 0px 2px rgb(0, 0, 0);
    color: yellow;
}
#maps{
    float: right;
    border-radius: 15px;
    width: 50%;
}
.testimonio{
    border-radius: 15px;
    margin: 5px 0px;
    padding: 10px;
    background-color: whitesmoke;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 40%;
}

/* -------------------------------- imagenes -------------------------------- */
.images{
    margin-top: 100px;
    text-align: center;
}
.image-class{
    height: 27vw;
    display: inline-block;
}
.image-class:hover{
    position: relative;
    top: 5px;
    right: 5px;
    border: 2px solid palevioletred;
    box-shadow: 4px 2px 13px rgb(165, 65, 98);
}
.images-h2{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: palevioletred;
    font-size: 50px;
}
.images-h2:hover{
    text-decoration: underline;
}

/* --------------------------------- Footer --------------------------------- */
.footer{
    background-color: palevioletred;
    height: 70px;
}
#copy a{
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}
.social{
    color: whitesmoke;
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
}
#reds{
    padding: 0px 10px;
}
#reds a{
    color: white;
    font-size: 1.3em;
    padding: 5px 15px;
    text-align: right;
}
#reds a:hover{
    background-color: whitesmoke;
    color: palevioletred;
    border-radius: 4px;
    font-size: 1.6em;
    padding: 5px 20px;
}

/* -------------------------------- Page Routines -------------------------------- */
.plans{
    text-align: center;
    padding: 20px 25px;
    background-color: whitesmoke;
}

.routine-plan{
    flex-wrap: wrap;
    height: 260px;
    width: 40%;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    border: 5px solid palevioletred;
    border-radius: 4px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 15px;
}
.routine-plan a{
    overflow:visible;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(206, 87, 87);
    
}
.routine-plan a:hover{
    color: palevioletred;
    font-size: 1.6em;
}
.routine-plan ol li{
    color: whitesmoke;
    text-shadow: 0px 0px 5px rgb(117, 17, 50);
    list-style:decimal;
    padding: 10px 0px;
    list-style-position: inside;
}
.routine-plan ol li:hover{
    color: palevioletred;
}
/* --------------------------- Fondos de rutinas --------------------------- */
#hypertrophy-man{
    background-image:url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/315028639_640719917489336_917737779288603435_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=KKnZ015qZCUAX8CM0az&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfCPVxFY7lK2auWVYepeDP6OweJ676wB231Mwwy2NmpiIg&oe=644E9C5A);
    background-position: 50%;
    background-repeat: none;
    background-size: cover;
}
#hypertrophy-man:hover{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/315028639_640719917489336_917737779288603435_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=KKnZ015qZCUAX8CM0az&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfCPVxFY7lK2auWVYepeDP6OweJ676wB231Mwwy2NmpiIg&oe=644E9C5A);
}

#hypertrophy-women{
    background-image: url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/322368360_523041949600865_8011287231294711468_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=bNhXSvUsDNwAX9_jaxW&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfCYIa7T-nkjBBHkp11aHwXDqO5B5NLxlQrsEBOJ0-tgIA&oe=644E463B);
    background-position: 50%;
    background-repeat: none;
    background-size: cover;

}
#hypertrophy-women:hover{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/322368360_523041949600865_8011287231294711468_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=bNhXSvUsDNwAX9_jaxW&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfCYIa7T-nkjBBHkp11aHwXDqO5B5NLxlQrsEBOJ0-tgIA&oe=644E463B);
}

#athletes{
    background-image: url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/322606709_949059779811503_2115123921705916484_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=MFp0oUGFVlAAX8XJFwk&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfDaq7TAsAVaU0yczvzoGfQdWVIkHHGEJNz7JWuiUNs6aQ&oe=644E0FE6 );
    background-position: 50%;
    background-repeat: none;
    background-size: cover;
}
#athletes:hover{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/322606709_949059779811503_2115123921705916484_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=MFp0oUGFVlAAX8XJFwk&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfDaq7TAsAVaU0yczvzoGfQdWVIkHHGEJNz7JWuiUNs6aQ&oe=644E0FE6 );
}

#hypertrophy{
    background-image: url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/315700540_646739973553997_2791460661022180988_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=XL_TeX4Ya1MAX_PJ1-1&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfB9dQl6XvCUCNsovI4tZX8efFgq4Q4rVAJB_J21Z5-qtw&oe=644F97A6);
    background-position: 50%;
    background-repeat: none;
    background-size: cover;
}
#hypertrophy:hover{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/315700540_646739973553997_2791460661022180988_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=XL_TeX4Ya1MAX_PJ1-1&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfB9dQl6XvCUCNsovI4tZX8efFgq4Q4rVAJB_J21Z5-qtw&oe=644F97A6);
}

/* --------------------------------- contact -------------------------------- */
.contact{
    display: flex;
    padding: 25px;
    height: 435px;
}
.contact img{
    border-radius: 15px;
    height: 200px;
    margin-right: 5px;
}

.contact-image{
    height: 100%;
}   
.contact-form{
    border: 3px solid palevioletred;
    box-shadow: 0px 0px 4px rgb(255, 0, 43);
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 15px;
}
.contact-form label{
    font-family: ;
}









