/* Fuentes
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
/* -------------------------- configuracion general ------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ------------------------- Scroll suave y padding para el espacio que ocupa el header --------------------------------- */
html{
    scroll-padding-top: 65px;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{list-style: none;}
h2 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: palevioletred;
    font-size: 3.15em;
    margin: 16px 0px;
}
input:focus, textarea:focus{
    outline: 2px solid palevioletred;
    border-color: transparent;
    border-radius: 5px;
    
}
h2:hover{
    text-decoration: underline;
}
body{
    margin-top: 60px;
}
*::selection{
    color: whitesmoke;
    background-color: violet;
}
/* --------------------------------- HEADER --------------------------------- */
.header{
    margin-top: -60px;
    background-color: whitesmoke;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
}
 /* ---------------------------------- HEADER-LOGO ---------------------------------- */
#logo{
    text-align: center;
}
#logo a img{
    height: 3.5em;
}
#logo a img:hover{
    filter: drop-shadow(2px 2px 4px palevioletred);
}

/* ------------------------------- HEADER-NAV ------------------------------- */
nav{
    padding: 10px 10px;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 0px 10px;
}
nav ul li a{
    font-family: 'Bebas Neue', cursive;
    white-space: nowrap;
    padding: 0px 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, palevioletred 50%, transparent 50%);
    background-position: 0 100%;
    background-size: 200% 2px;
    transition: background-position 0.5s;
}
nav ul li a:hover {
    background-position: -100% 100%;
    color: palevioletred;
    background-color: whitesmoke;
    animation: subrayar 0.5s ease-in-out forwards;
}
/* ------------------------- animacion para el hover ------------------------ */
@keyframes subrayar {
    from {
    width: 0;
    }
    to {
    width: 100%;
    }
}
/* --------------------------------- banner de la pagina principal --------------------------------- */
.banner{
    background-image: url(../img/bannerimage.jpg);
    background-position: 100%;
    height: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.title{
    margin: 230px auto;
    display: inline-block;
}
/* ----------------------------------  banner-text ---------------------------------- */
.mostacho{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 0px 0px 15px rgb(121, 29, 60);
    background-color: palevioletred;
    padding: 5px;
    border-radius: 13px;
    font-size: 4em;
}
/* -------------------------------- Maps del index -------------------------------- */
.content{
    padding: 50px 30px;
}
.testimonials{
    margin: 50px 0px;
    height: 470px;
}
.star{
    text-shadow: 1px 0px 2px rgb(0, 0, 0);
    color: yellow;
}
#maps{
    float: right;
    border-radius: 15px;
    width: 50%;
}
.testimonio{
    border-radius: 15px;
    margin: 5px 0px;
    padding: 10px;
    background-color: whitesmoke;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 40%;
}

/* -------------------------------- imagenes del index -------------------------------- */
.images{
    margin-top: 100px;
    text-align: center;
}
.image{
    height: 300px;
    width: 300px;
    display: inline-block;
    transition: transform 1s;
}
.image:hover{
    transform: scale(1.1);
    z-index: 50;
    outline: 2px solid palevioletred;
    box-shadow: 4px 2px 13px rgb(165, 65, 98);
}
.images-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.images-h2{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: palevioletred;
    font-size: 50px;
}
.images-h2:hover{
    text-decoration: underline;
}

/* --------------------------------- Footer --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.footer{
    display: flex;
    padding: 0px 20px;
    min-height: 70px;
    background-color: palevioletred;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright a{
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
}
.footer .footer-reds{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
}
.footer .footer-reds a i{
    border-radius: 10px;
    font-size: 1.3em;
    padding: 5px 15px;
    color: whitesmoke;
    transition: transform 0.6s, background 0.8s, color 1s;
}
.footer .footer-reds a i:hover{
    background-color: whitesmoke;
    color: palevioletred;
    transform: scale(1.1);
}

/* -------------------------------- Page Routines -------------------------------- */
.plans{
    text-align: center;
    display: flex;
    background-color: whitesmoke;
    flex-wrap: wrap;
    justify-content: center;
}
.plans h2{
    width: 100%;
}

.routine-plan{
    min-width: 40%;
    padding: 10px;
    margin: 20px;
    border: 5px solid palevioletred;
    border-radius: 4px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 15px;
}
.routine-plan a{
    overflow:visible;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(206, 87, 87);
    
}
.routine-plan a:hover{
    color: palevioletred;
    font-size: 1.6em;
}
.routine-plan ol li{
    color: whitesmoke;
    text-shadow: 0px 0px 5px rgb(117, 17, 50);
    list-style:decimal;
    padding: 10px 0px;
    list-style-position: inside;
}
.routine-plan ol li:hover{
    font-weight: bold;
    color: palevioletred;
}
/* --------------------------- Fondos de rutinas --------------------------- */
#hypertrophy-man{
    background-image:url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/315028639_640719917489336_917737779288603435_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=KKnZ015qZCUAX8CM0az&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfCPVxFY7lK2auWVYepeDP6OweJ676wB231Mwwy2NmpiIg&oe=644E9C5A);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
#hypertrophy-man:hover{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/315028639_640719917489336_917737779288603435_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=KKnZ015qZCUAX8CM0az&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfCPVxFY7lK2auWVYepeDP6OweJ676wB231Mwwy2NmpiIg&oe=644E9C5A);
}

#hypertrophy-women{
    background-image: url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/322368360_523041949600865_8011287231294711468_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=bNhXSvUsDNwAX9_jaxW&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfCYIa7T-nkjBBHkp11aHwXDqO5B5NLxlQrsEBOJ0-tgIA&oe=644E463B);
    background-position: 50%;
    background-repeat: none;
    background-size: cover;

}
#hypertrophy-women:hover{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/322368360_523041949600865_8011287231294711468_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=bNhXSvUsDNwAX9_jaxW&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfCYIa7T-nkjBBHkp11aHwXDqO5B5NLxlQrsEBOJ0-tgIA&oe=644E463B);
}

#athletes{
    background-image: url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/322606709_949059779811503_2115123921705916484_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=MFp0oUGFVlAAX8XJFwk&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfDaq7TAsAVaU0yczvzoGfQdWVIkHHGEJNz7JWuiUNs6aQ&oe=644E0FE6 );
    background-position: 50%;
    background-repeat: none;
    background-size: cover;
}
#athletes:hover{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/322606709_949059779811503_2115123921705916484_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=MFp0oUGFVlAAX8XJFwk&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfDaq7TAsAVaU0yczvzoGfQdWVIkHHGEJNz7JWuiUNs6aQ&oe=644E0FE6 );
}

#hypertrophy{
    background-image: url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/315700540_646739973553997_2791460661022180988_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=XL_TeX4Ya1MAX_PJ1-1&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfB9dQl6XvCUCNsovI4tZX8efFgq4Q4rVAJB_J21Z5-qtw&oe=644F97A6);
    background-position: 50%;
    background-repeat: none;
    background-size: cover;
}
#hypertrophy:hover{
    background-image:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/315700540_646739973553997_2791460661022180988_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=XL_TeX4Ya1MAX_PJ1-1&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfB9dQl6XvCUCNsovI4tZX8efFgq4Q4rVAJB_J21Z5-qtw&oe=644F97A6);
}

/* --------------------------------- contact -------------------------------- */
.contact-main{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://scontent.fbhi4-1.fna.fbcdn.net/v/t39.30808-6/274500266_1622489741453922_6776516610836215139_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=divB4wPOPWEAX_tlYOx&_nc_ht=scontent.fbhi4-1.fna&oh=00_AfANOgpPGgs4dYI-7h9nR7w_fUYohba66wdsPtyr-QeYIw&oe=644F2F09);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact{
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 100vh;
}
.contact-image img{
    border-radius: 15px;
    border: 2px solid rgb(170, 170, 170);
    box-shadow: 0px 0px 5px rgb(250, 250, 250);
    width: 300px;
} 
.contact-form{
    border: 3px solid palevioletred;
    display: flex;
    max-height: 450px;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgb(255, 0, 43);
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 15px;
    gap: 10px;
    max-width: 50%;
}
.contact-form label{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.1em;
}
.contact-form input{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.contact-form #email{
    width: 80%;
}

.contact-form #submit{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
    padding: 2px;
    width: 70px;
    background-color: pink;
    border-radius: 8px;
    border: 2px solid rgb(207, 50, 103);
    margin: 0 auto;
}
.contact-form #submit:hover{
    color: whitesmoke;
    background-color: rgb(224, 81, 129);
    font-size: 1.25em;
    text-shadow: 0px 0px 3px black;
    border: 2px solid rgb(230, 141, 171);
}
#msg{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    max-height: 100%;
    max-width: 100%;
}
/* ---------------------------- Icono de telefono de la pagina de contactos --------------------------- */
.telephone{
    color: pink;
    position: fixed;
    left: 0;
    padding: 10px;
    bottom: 100px;
    border: none;
    box-shadow: none;
}
.telephone img{
    height: 65px;
    filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
}
.telephone img:hover{
    height: 70px;
}

/* -------------------------------- Horarios ------------------------------- */
.schedules{
    display: flex;
    flex-wrap: wrap;
}

.schedules-section{
    width: 100%;
}
/* ------------------------------ Horarios NAV ----------------------------- */
.shedules-section_nav{
    padding: 20px 0px;
    background-color: palevioletred;
    border-radius: 30px;
}
.shedules-section_nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
}
.shedules-section_nav ul li a{
    border-right: 1px solid rgba(255, 192, 203, 0.603);
    border-left: 1px solid rgba(255, 192, 203, 0.603);
    color: whitesmoke;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    border-radius: 5px;
    flex-direction: row;
}
.shedules-section_nav ul li a:hover{
    background-color: whitesmoke;
    color: palevioletred;
    font-weight: bold;
}

/* --------------------------- Horarios de los diferentes entrenamientos --------------------------- */
.section-training{
    padding: 20px 25px;
    width: 100%;
    background-color: whitesmoke;
    transition: 0.4s;
}
.section-training:hover{
    transition: 0.4s;
    background-color: rgb(241, 227, 229);
    border-top-right-radius: 0;
    border-top-right-radius: 70%;
}
.training-schedules{
    font-family: 'Ubuntu', sans-serif;
    margin: 10px 0px;
    width: 100%;
}
.training-schedules h3{
    font-size: 1.35em;
    color: whitesmoke;
    background-color: palevioletred;
    display: inline-block;
    border-radius: 7px;
    padding: 3px 5px;
}
.training-schedules ul li{
    color:rgb(48, 47, 47);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
    text-decoration: underline;
}
.schedules-hour{
    color: palevioletred;
    text-decoration: underline;
    padding: 0px 5px;
    text-shadow: 0px 0px 5px pink;
}
.schedules-hour:hover{
    color: whitesmoke;
    background-color: palevioletred;
    border-radius: 5px;
}

/* ---------------------------------- Noticias ---------------------------------- */
.news{
    padding: 30px 25px;
    border-top: 5px solid salmon;
    background-color: whitesmoke;
}
.news-facebook{
    margin-top: 50px;
    gap: 20px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.news-style{
    min-width: 40%;
}
.news-style iframe{
    border-radius: 10px;
    outline: 5px dashed palevioletred;
}







