@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Comfortaa&family=Darumadrop+One&family=Mukta&family=Quicksand&family=Rubik&family=Sigmar&display=swap');
/*
font-family: 'Bruno Ace', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Darumadrop One', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Sigmar', cursive;
*/
/* -------------------------------- Generales ------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
*::selection{
    background-color: #FFD740;

}
a{text-decoration: none;}
ul{list-style: none;}
html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}
/* --------------------------------- Header --------------------------------- */
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #FF9900;
    align-items: center;
    padding: 5px;
    min-height: 70px;
    flex-wrap: wrap;
    
}

.logo img{
    cursor: pointer;
    height: 70px;
    transition: transform 0.5s ease;
}

.logo img:hover{
    transform: scale(1.1);
}
.header nav ul{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.header nav ul li a{
    color: #FCE4EC;
    padding: 3px 6px;
    border-radius: 5px;
    cursor: pointer;
}
.header nav ul li a:hover{
    color:#f7e651a4;
    font-weight: bold;
}
/* --------------------------------- Banner --------------------------------- */
main .front-page{
    background-image: url(../img/Fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 20px;
}
.front-page div{
    display: inline-block;
    text-align: center;
}
#front-page_img{
    height: 400px;
    transition: transform 1s ease;
}
#front-page_img:hover{
    transform: scale(1.12);

}
.front-page h1{
    margin: 10px 0;
    font-family: 'Bruno Ace', cursive;
    font-size: 3em;
    color: #FCE4EC;
    text-shadow: 2px 2px 5px black;
}
.btn-download{
    background-color: #FF9900;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.3em;
    color: #FCE4EC;
    cursor: pointer;
}
.btn-download:hover{
    color: #FF9900;
    background-color: #FCE4EC;
}
.front-page div div{
    transition: transform 0.5s;
}
.front-page div div:hover{
    transform: scale(1.1);
}

/* ----------------------------- caracteristicas ---------------------------- */
.features{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    gap: 30px;
}

.features-default{
    background-color:#FFD740;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-default img{
    border-radius: 5px;
    margin: 0px 6px;
}
.features-default p{
    font-family: 'Bruno Ace', cursive;
    padding: 9px;
    color: rgb(255, 255, 255);
    background-color: #ffaa00bb;
    border-radius: 15px;
}

/* -------------------------------- Versions -------------------------------- */

.versions{
    display: grid;
    grid-template-columns:15% 60%;
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 30px;
    box-shadow: 0px 0px 15px rgb(255, 127, 23);
    border-radius: 5px;
    background-color: #FFD740;
    transition: border-radius 0.4s;
}
.versions:hover{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #FFD740;
    border-top-right-radius: 60%;
}
.versions-img{
    align-self:self-end;
}
.versions-img img{
    height: 250px;
}
.versions-h3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.versions-h3 h3{
    color: whitesmoke;
    text-align: center;
    background-color: #FF9900;
    padding: 3px;
    border-radius: 4px;
}
.versions-h3 a{
    color: #FF9900;
    font-weight: bold;
    background-color: #FCE4EC;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s;
}
.versions-h3 a::after{
    content: " (In progress)";
}
.versions-h3 a:hover{
    background-color: #ca0098;
    color: #FCE4EC;
    transform: scale(1.1);
}

/* -------------------------------- Nosotros -------------------------------- */
/*
font-family: 'Bruno Ace', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Darumadrop One', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Sigmar', cursive;
*/
.about{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 100px auto;
}

.about img{
    border-radius: 15px;
}
.about p{
    margin: 10px;
    border-radius: 5px;
    font-family: 'Darumadrop One', cursive;
}
.about p::first-line{
    background-color: #FF9900;
    color: whitesmoke;
}

/* --------------------------------- Footer --------------------------------- */
.footer{
    background-color: #FF9900;
}
#copy a{
    padding-left: 10px;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}
.social{
    color: whitesmoke;
    min-height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#reds{
    padding: 0px 10px;
}
#reds a{
    color: white;
    font-size: 1.3em;
    padding: 5px 15px;
    text-align: right;
}
#reds a:hover{
    background-color: whitesmoke;
    color: #FF9900;
    border-radius: 4px;
    font-size: 1.6em;
    padding: 5px 20px;
}